<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="list-group">
        <div class="col-xs-12 list-group-item hidden-xs">
          <h4>
            <b>
              <div class="col-sm-3 col-lg-4">Subject</div>
              <div class="col-sm-3 col-lg-3 text-center">Author</div>
              <div class="col-sm-3 col-lg-3 text-center">Posted</div>
              <div class="col-sm-3 col-lg-2 text-center"><a href="#">Mark All Read</a></div>
            </b>
          </h4>
          <div class="visible-xs-block"><a href="#">Mark All Read</a></div>
        </div>
        {{#each posts}}
          <div class="col-xs-12 list-group-item">
            <h4>
              <span class="col-xs-12 col-sm-3 col-lg-4 list-group-item-heading">
                <a href="/posts/{{_id}}/{{subject}}">{{subject}}</a>
              </span>
              <span class="col-xs-3 visible-xs-inline"><B>Author:</B></span>
              <span class="col-xs-9 col-sm-3 col-lg-3 list-group-item-heading text-center">
                {{author.fullName}}
              </span>
              <span class="col-xs-3 visible-xs-inline"><B>Posted:</B></span>
              <span class="col-xs-9 col-sm-3 col-lg-3 list-group-item-heading text-center">
                {{formatDate created "%B %e, %Y %-l:%M%p"}}
              </span>
              <span class="col-xs-12 visible-xs-inline"><a href="#">Mark Read</a></span>
              <span class="col-xs-12 col-sm-3 col-lg-2 text-center hidden-xs">
                <a href="#">Mark Read</a>
              </span>
            </h4>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{!-- Pagination --}}
{{> pagination }}
